.sidebar{
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px;
    width: 100%;
    
}
.sidebar-first-div{
    background-color: white;
    border-radius: 10px;
    

}